<div class="panel">
  <div class="panel-heading flex-it space-between align-center">
    <h3>upload donations to multiple campaigns</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        {{#if donationSuccess}}
          <div class="alert alert-dismissible alert-success" role="alert">
            <button type="button" class="close" {{action "removeNotice"}} >
              <span aria-hidden="true">&times;</span><span class="sr-only" >
                Close
              </span>
            </button>
            {{donationSuccess}}
          </div>
        {{/if}}
        {{#if donationError}}
          <div class="alert alert-dismissible alert-danger" role="alert">
            <button type="button" class="close" ><span aria-hidden="true">&times;</span><span class="sr-only" {{action "removeNotice"}} >Close</span></button>>
            {{donationError}}
          </div>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <p>Donations File</p>
      </div>
      <div class="col-md-3">
        {{#if loading}}
          {{new-file-field action="filePicked" fileTooBig="fileTooBig" class="file" id=cid}}
        {{else}}
          {{new-file-field action="filePicked" fileTooBig="fileTooBig" class="file" id=cid}}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{#if loading}}
          <button class="btn btn-gray">uploading..</button>
        {{else}}
          <button {{action 'upload'}} class="btn btn-primary clear-m">upload</button>
        {{/if}}

        <button class='btn btn-primary' {{action 'download'}}>Download Template</button>
      </div>
    </div>
    <label>Password for open the attachment files: {{ openFilesPassword }}</label>
  </div>
</div>
