<div class='progress-outline'>
  <svg width={{pixelWidth}} height={{pixelHeight}} viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <circle class='background-circle' r={{radius}} cx={{circleX}} cy={{circleY}} fill="transparent"></circle>
    <circle class='fill-circle' r={{radius}} cx={{circleX}} cy={{circleY}} fill="transparent"></circle>
  </svg>
</div>
