
{{#if hasBlock}}
  {{yield}}
{{else}}
  <div class='time-picker'>
    <button
      class='time-picker-button'
      {{action 'handleClick' interval on='click'}}
      {{action 'updateTime' interval on='mouseDown'}}
      {{action 'stopUpdating' on='mouseUp'}}
    >
      <i class='fa fa-2x fa-angle-up'  />
    </button>
    <div class='time-picker-blinker p-sm-a fa-lg'>{{formattedTime}}</div>
    <button
      class='time-picker-button'
      {{action 'handleClick' negativeInterval on='click'}}
      {{action 'updateTime' negativeInterval on='mouseDown'}}
      {{action 'stopUpdating' on='mouseUp'}}
    >
      <i class='fa fa-2x fa-angle-down' />
    </button>
  </div>
{{/if}}
