<div class="p-md-a">
  <div class="flex-container-half">
    {{#each donationLevels as |donationLevel index| }}
      <div class="flex-item form-group">
        <div class="panel panel-info max-width">
          <div class="panel-heading">
            <h4>
              Incentive Level {{plus-one index}}
              {{#tool-tipster
                classNames='pull-right'
                content="Delete Incentive Level."
                position='top'
                delay=0
                theme='tooltipster-noir'
                updateAnimation=false
              }}
                <i {{action "deleteDonationLevel" donationLevel }} class="fa fa-trash pull-right delete-icon"></i>
              {{/tool-tipster}}
            </h4>
          </div>

          <div class="panel-body">
            <div class="row image-container">
              <div class="col-md-12" style="position:relative;">
                {{banger-text-input
                  property=donationLevel.amount
                  errors=donationLevel.validations.attrs.amount.messages
                  label="Donation Amount"
                  placeholder="e.g $500" }}

                {{banger-text-input
                  property=donationLevel.reward
                  errors=donationLevel.validations.attrs.reward.messages
                  label="Donation Reward"
                  placeholder="e.g You will receive a t-shirt" }}

                {{banger-text-input
                  property=donationLevel.impact
                  errors=donationLevel.validations.attrs.impact.messages
                  label="Description"
                  placeholder="e.g New football jerseys for our team" }}

                {{banger-text-input
                  property=donationLevel.qpq_amount
                  label="QPQ amount"
                  placeholder="e.g $8" }}

                {{#if donationLevel.hasDirtyAttributes }}
                  <button {{action "saveCampaign" donationLevel}}
                    disabled={{if donationLevel.isSaving "disabled"}}
                    class="btn btn-info pull-right">
                    {{if campaign.isSaving "saving" "update"}}
                  </button>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

    <div class="flex-item form-group">
      <div class="panel panel-new-record max-width">
        <div class="panel-heading">
          <h4>Create New Incentive Level</h4>
        </div>
        <div class="panel-body">
          <div class="row image-container">
            <div class="col-md-12">
              {{banger-text-input
                property=newDonationLevel.amount
                errors=newDonationLevel.validations.attrs.amount.messages
                label="Donation Amount"
                placeholder="e.g $500" }}

              {{banger-text-input
                property=newDonationLevel.reward
                errors=newDonationLevel.validations.attrs.reward.messages
                label="Donation Reward"
                placeholder="e.g You will receive a t-shirt" }}

              {{banger-text-input
                property=newDonationLevel.impact
                errors=newDonationLevel.validations.attrs.impact.messages
                label="Description"
                placeholder="e.g New football jerseys for our team" }}

              {{banger-text-input
                property=newDonationLevel.qpq_amount
                label="QPQ amount"
                placeholder="e.g $8" }}

              <button {{action "addDonationLevel" newDonationLevel}}
                class="btn btn-info pull-right">Add Incentive Level</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
