<section class='section-highlight'>
  <h1>Edit Matching Section</h1>
</section>


<div class="p-md-a">
  <div class="panel info">
    <h4 class="panel-heading">
      <h4>Matching Section Details</h4>
    </h4>

    <form class="form" {{action "updateMatchingGiftsSection" on="submit"}}>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4 form-group">
            {{banger-text-input
            class="campaign-name"
            property=matchingGiftsSection.name
            errors=matchingGiftsSection.validations.attrs.name.messages
            label="Name"
            placeholder="Name" }}
          </div>
          <div class="col-md-4 form-group">
            {{banger-select
            label="Selection Strategy"
            property=matchingGiftsSection.match_selection_strategy
            errors=matchingGiftsSection.validations.attrs.match_selection_strategy.messages
            options=selectionStrategyOptions
            prompt="--select--"
            updateSelected=(action "updateSelectionStrategy")}}
          </div>
        </div>
        {{#if isCampaign}}
          <div class="row">
            <div class="col-md-4 form-group">
              {{banger-select
                label="Campaign Scope"
                property=matchingGiftsSection.campaign_id
                propertyToSet='id'
                options=campaignOptions
                optionValuePath='id'
                optionLabelPath='name'
                prompt="--select--"}}
            </div>
          </div>
        {{else}}
          <div class="row">
            <div class="col-md-12">
              <p>
                Select MatchingGifts to add to your matching gifts section.
              </p>

              {{#power-select-multiple
                    options=mappableMatches
                    selected=selcectedMatchingGifts
                    searchField="title"
                    onchange=(action "selectMatchingGift")
                    as |matchingGift|}}
              <strong>{{matchingGift.title}}</strong>
              {{/power-select-multiple}}

              <div class='m-sm-t'>
                <button class='btn btn-primary' disabled={{if (eq selectedCampaigns.length 0) true false}}
                  {{action 'addMatchesToMapping'}}>
                  Add Matching Gift
                </button>
              </div>
            </div>
          </div>
          <br/><br/>
          <div class="row">
            <div class='col-md-12'>
              <p>A lower position will cause the MatchingGift to appear before other MatchingGifts</p>

              <table class="amplo-table">
                <thead>
                  <tr>
                    <th>
                      <div>Title</div>
                    </th>
                    <th>
                      <div>Campaign Scope</div>
                    </th>
                    <th>
                      <div>Position</div>
                    </th>
                    <th>
                      <div>Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {{#each matchingGiftsSection.matchingGiftsSectionMappings as |sectionMapping|}}
                    {{#if sectionMapping.id}}
                    <tr>
                      <td>{{sectionMapping.matchingGiftTitle}}</td>
                      <td>{{sectionMapping.campaignName}}</td>
                      <td>
                        {{input  value=sectionMapping.position blur=(mut sectionMapping.position) focusOut=(action 'updateMapping' sectionMapping)}}
                      </td>
                      <td>
                        <i class='pointer fa fa-trash' {{action 'destroyMapping' sectionMapping}} />
                      </td>
                    </tr>
                    {{/if}}
                  {{else}}
                  <tr>
                    <td colspan='5'><span>You do not have any MatchingGifts selected.</span></td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>

        {{/if}}
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <button disabled={{if matchingGiftsSection.isSaving "disabled"}} class="btn btn-primary pull-right save-campaign">
              {{#if matchingGiftsSection.isSaving}}
              Saving...
              {{else}}
              Save Section
              {{/if}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
