<td>
  <div class='text-center table-td-p'>
    <input type='checkbox'>
  </div>
</td>
<td>
  <div class='flex-it'>
    <div class='table-icon-well--default'>
      <i class='fa fa-fw fa-user'></i>
    </div>
    <div class='table-text-well--user'>
      <span>{{participant.fullName}}</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--email'>
      <i class='fa fa-fw fa-envelope'></i>
    </div>
    <div class='table-text-well'>
      <span>{{shorthand-number participant.emails_sent}}</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--sms'>
      <i class='fa fa-fw fa-phone'></i>
    </div>
    <div class='table-text-well'>
      <span>{{shorthand-number participant.sms}}</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--facebook'>
      <i class='fa fa-fw fa-facebook'></i>
    </div>
    <div class='table-text-well'>
      <span>{{shorthand-number participant.facebook}}</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--email-clicked'>
      <i class='fa fa-fw fa-hand-pointer-o'></i>
    </div>
    <div class='table-text-well'>
      <span>{{shorthand-number participant.emails_clicked}}</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--email-opened'>
      <i class='fa fa-fw fa-inbox'></i>
    </div>
    <div class='table-text-well'>
      <span>{{shorthand-number participant.emails_opened}}</span>
    </div>
  </div>
</td>
<td></td>
