<!-- IMPORTANT: REMOVE THESE SCRIPTS FOR PRODUCTION dashboard.js FILE -->
<script>
  function cdgo_edit(i,t) {
    let id = t.closest('tr').getAttribute('data-id')
    $(`#col_${i}_${id}`).hide();
    $(`#alt_${i}_${id}`).show();
  }

  function cdgo_displayname_cancel(i,t) {
    let id = t.closest('tr').getAttribute('data-id')
    $(`#col_${i}_${id}`).show();
    $(`#alt_${i}_${id}`).hide();
  }

  function cdgo_displayname_submit(i,t) {
    let id = t.closest('tr').getAttribute('data-id')
    $(`#col_${i}_${id}`).show();
    $(`#alt_${i}_${id}`).hide();
    alert(`submit ${id}`)
  }

  function cdgo_public(i, t, bool) {
    let id = t.closest('tr').getAttribute('data-id')
    $(`#col_${i}_${id}`).show();
    $(`#alt_${i}_${id}`).hide();
    alert(`${bool} ${id}`)
  }

  function cdgo_campaign_cancel(i,t) {
    let id = t.closest('tr').getAttribute('data-id')
    $(`#col_${i}_${id}`).show();
    $(`#alt_${i}_${id}`).hide();
  }

  function cdgo_campaign_submit(i,t) {
    let id = t.closest('tr').getAttribute('data-id')
    $(`#col_${i}_${id}`).show();
    $(`#alt_${i}_${id}`).hide();
    alert(`submit ${id}`)
  }

  function cdgo_resend_receipt(t) {
    let id = t.closest('tr').getAttribute('data-id')
    alert(`send receipt ${id}`)
  }
</script>

<section class='section-highlight'>
  <h1>Donations</h1>
  {{#if session.current_user.campaign_admin}}
    <button {{action "toggleShowUploadForm"}} class="btn btn-primary">upload donations</button>
  {{/if}}
</section>

{{#liquid-if showUploadForm}}
  <div class="p-md-a">
    {{donation-uploader show=showUploadForm campaigns=settings.current_entity.campaigns}}
  </div>

  <div class='p-md-a'>
    {{multi-donation-uploader}}
  </div>
{{/liquid-if}}
<div class="m-md-a">
  {{#user-search results=users title="Search for a user's donation:" selectedUser=selectedUser getUsers="getUsers" toggleUser='toggleUser' as |results|}}

    {{#unless selectedUser}}
      <div class='table-responsive'>
        <table class="donation-table">
          <thead>
            <tr>
              <th><div>Name</div></th>
              <th><div>Email</div></th>
              <th><div>External Id</div></th>
              <th><div>Last Donation Date</div></th>
              <th><div></div></th>
            </tr>
          </thead>
          <tbody>
            {{#if results}}
              {{#each results as |user|}}
                <tr {{action "toggleUser" user}} class="user" >
                  <td>{{user.first_name}} {{user.last_name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.external_id}}</td>
                  <td></td>
                  <td>
                    <button class="btn">SELECT</button>
                  </td>
                </tr>
              {{/each}}
            {{else}}
              <tr>
                <td colspan="5" >
                  {{#if searching}}
                    <p>Searching...</p>
                  {{else}}
                    <p>Find Users</p>
                  {{/if}}
                </td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      </div>

    {{/unless}}


  {{/user-search}}
</div>

  <h2 class="p-md-l">
    {{selectedUser.first_name}} {{selectedUser.last_name}} Donation Info
  </h2>
  <div class="panel m-md-a">
    <div class="panel-body">
      {{#if amploDonations}}
        <div class="section-sub-heading">
          Amplo Donations
        </div>
        <div class="spacer-2"></div>
        <div class='table-responsive'>
          <table id="donations" class="donation-table">
            <thead>
              <tr>
                <th><div>Donor</div></th>
                <th><div>Display Name</div></th>
                <th><div>Amount</div></th>
                <th><div>Date</div> </th>
                <th><div>Public</div></th>
                <th><div>Donation Type</div></th>
                <th><div>Status</div></th>
                <th><div>Causes</div></th>
                <th><div>Campaign</div></th>
                <th><div></div></th>
              </tr>
            </thead>
            <tbody>
              {{#each sortedDonations as |donation|}}
                {{#if (not-eq donation.don_type "hist")}}
                  <tr class="donation" data-id="{{donation.id}}">
                    <td>{{donation.user.first_name}} {{donation.user.last_name}} {{donation.user.email}}</td>
                    <td>
                      <div id="col_1_{{donation.id}}">
                        <i class="fa fa-edit pointer" onclick="cdgo_edit(1,this)"></i>&nbsp;
                        <span id="display_name_{{donation.id}}">{{donation.first_name}} {{donation.last_name}}</span>
                      </div>
                      <div id="alt_1_{{donation.id}}" style="display:none;color:black">
                       <input id="input_first_name_{{donation.id}}" data="{{donation.first_name}}" value="{{donation.first_name}}"><br>
                       <input id="input_last_name_{{donation.id}}" data="{{donation.last_name}}" value="{{donation.last_name}}"><br>
                       <button onclick="cdgo_displayname_cancel(1,this)">Cancel</button>
                       <button onclick="cdgo_displayname_submit(1,this)">Submit</button>
                      </div>
                    </td>
                    <td>${{donation.amount}}</td>
                    <td>{{pretty-date donation.created_at settings.current_entity.date_format}}</td>
                    <td>
                      <div id="col_2_{{donation.id}}">
                        <i class="fa fa-edit pointer" onclick="cdgo_edit(2,this)"></i>&nbsp;
                        <span id="public_{{donation.id}}">{{donation.public}}</span>
                      </div>
                      <div id="alt_2_{{donation.id}}" style="display:none;color:black">
                        <button onclick="cdgo_public(2, this, true)">True</button><br>
                        <button onclick="cdgo_public(2, this, false)">False</button>
                      </div>
                    </td>
                    <td>{{donation.don_type}}</td>
                    <td>{{donation.status}}</td>
                    <td>{{donation.cause_names}}</td>
                    <td>
                      <div id="col_3_{{donation.id}}">
                        <i class="fa fa-edit pointer" onclick="cdgo_edit(3,this)"></i>&nbsp;
                        {{#link-to 'campaigns.campaign.edit' donation.campaign}}<span id="campaign_name_{{donation.id}}">{{donation.campaign.name}}</span>{{/link-to}}
                      </div>
                      <div id="alt_3_{{donation.id}}" style="display:none">
                        Campaign ID<br>
                        <span style="color:black">
                          <input id="input_beneficiary_id_{{donation.id}}" data="{{donation.campaign.id}}" value="{{donation.campaign.id}}"><br>
                          <button onclick="cdgo_campaign_cancel(3, this)">Cancel</button>
                          <button onclick="cdgo_campaign_submit(3, this)">Submit</button>
                        </span>
                      </div>
                    </td>
                    <td>
                      {{#if (eq donation.refundable true)}}
                        <i {{action 'confirmRefund' donation}} class="fa fa-exclamation-triangle"></i>
                      {{else}}
                        <i class="fa fa-exclamation-triangle" style="visibility:hidden"></i>
                      {{/if}}
                      <i class="fa fa-paper-plane-o" style="margin-left:12px" onclick="cdgo_resend_receipt(this)"></i>
                    </td>
                  </tr>
                {{/if}}
              {{/each}}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="9">
                  {{amplo-pagination limit=limit offset=offset count=count action='changeOffset'}}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      {{/if}}

      {{#if historicalDonations}}
        <div class="section-sub-heading">
          Historical Donations
        </div>
        <div class="spacer-2"></div>
        <div class='table-responsive'>
          <table class="donation-table">
            <thead>
              <tr>
                <th><div>Donor</div></th>
                <th><div>Amount</div></th>
                <th><div>Date</div> </th>
                <th><div>Public</div></th>
                <th><div>Donation Type</div></th>
                <th><div>Status</div></th>
                <th><div>Causes</div></th>
              </tr>
            </thead>
            <tbody>
              {{#each sortedDonations as |donation|}}
                {{#if (eq donation.don_type "hist")}}
                  <tr class="donation" >
                    <td>{{donation.user.first_name}} {{donation.user.last_name}} {{donation.user.email}}</td>
                    <td>${{donation.amount}}</td>
                    <td>{{pretty-date donation.created_at settings.current_entity.date_format}}</td>
                    <td>{{donation.public}}</td>
                    <td>{{donation.don_type}}</td>
                    <td>{{donation.status}}</td>
                    <td>{{donation.cause_names}}</td>
                  </tr>
                {{/if}}
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/if}}

    </div>
  </div>

  {{#if confirmRefundModal}}
  {{#modal-dialog
    close="confirmNewEmail"
    containerClassNames='modal-wrap'
    overlayClassNames='modal-overlay'}}
    <div class='modal show fade in'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button class='close' {{action 'toggleConfirmRefundModal'}}><span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class='modal-body'>
            Are you sure you want to refund this donation?
          </div>
          <div class='modal-footer'>
            <button {{action "refundDonation"}} class="refund-confirm btn btn-primary pull-right">Yes, Refund</button>
            <button class="btn btn-info pull-right" {{action 'toggleConfirmRefundModal'}}>Go Back</button>
          </div>
        </div>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}

{{#if savedRefund}}
  {{#modal-dialog
    close="confirmNewEmail"
    containerClassNames='modal-wrap'
    overlayClassNames='modal-overlay'}}
    <div class='modal show fade in'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button class='close' {{action 'toggleSavedRefundModal'}}><span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span><span class="sr-only">Close</span></button>
            {{#if reason}}
              <h4 class="modal-title">Refund Failed</h4>
            {{else}}
              <h4 class="modal-title">Congratulations!</h4>
            {{/if}}
          </div>
          <div class='modal-body'>
            {{#each reason as |error|}}
              <p class='text-danger'>
                {{#if error}}
                  {{error.detail}}
                {{else}}
                  There was an error proccessing your refund.
                {{/if}}
              </p>
              <!-- <p class="bg-danger">{{error}}</p> -->
            {{else}}
              Your refund was processed successfully.
            {{/each}}
          </div>
          <div class='modal-footer'>
            <button class="btn btn-primary pull-right" {{action 'toggleSavedRefundModal'}}>Go Back To Donations</button>
          </div>
        </div>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
